<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>262443749713-3h3kfsjg2ne8s3t9pbv91uedlov7tsho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262443749713-3h3kfsjg2ne8s3t9pbv91uedlov7tsho</string>
	<key>API_KEY</key>
	<string>AIzaSyCFhWwFfrMifrGq2p60HOR4Zd0so-cwTjY</string>
	<key>GCM_SENDER_ID</key>
	<string>262443749713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example1.Snapclone</string>
	<key>PROJECT_ID</key>
	<string>snapchat-f3717</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-f3717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262443749713:ios:c08b27e57a001e52</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-f3717.firebaseio.com</string>
</dict>
</plist>